body{
  z-index: -3;
  margin: 0;
  background-color: black;


}



#mariage{
    z-index: -1;
    position: absolute;
    left: 0;
    height: 0;
    height: 100vh;
    width: 50%;
    background: url(mariage.jpg) no-repeat;
    background-size: cover;
    filter: grayscale(1);
    animation: slidein 12s ease-in-out;
}



#product{
  z-index: -2;
  position: absolute;
  left: 0;
  height: 0;
  height: 100vh;
  width: 100vw;
  background: url(fond-cote-production.jpg) no-repeat;
  background-size: cover;
  filter: grayscale(1);
  animation: slidebody 12s ease-in-out;
}




@keyframes slidebody {
  0%{filter: grayscale(1);}
  33% {filter: grayscale(1);}
  66% {filter: grayscale(0);}
  100% {filter: grayscale(1);}
}
@keyframes slidein {
  0%{filter: grayscale(1);}
  33% {filter: grayscale(0);width: 85%;}
  66% {filter: grayscale(1);width:15%}
  100% {filter: grayscale(1);}
  }

div{
    
    width: 100vw;
    height: 100vh;
    
    text-align: center;
    display: table-cell;
  vertical-align: middle;
}

nav{background-color: rgba(61, 61, 61, 0.6);
  width: 100vw;
    display: flex;
    justify-content: space-around;
}

img{
    
    z-index: 1;
    width: 180px;
    margin: 20px 0;
    
}
 button{
    width: 300px;
     background-color: rgba(31, 10, 10, 0);
     color: white;
     opacity: 0.7;
     font-family: 'Michroma', sans-serif;
     font-size: 1.5em;
     border: none;
     animation: opacity 12s ease-in-out;
     transition: 0.5s;

 }

 button:hover{
   opacity: 1;
   
   
 }


 #mariagebutton{
     animation: opacitymariage 12s   ease-in-out;
     font-family: 'Dancing Script', cursive;
     font-size: 2.5em;
 }
 @keyframes opacitymariage{
    0%{
      
      opacity: 0; 
    }
  
    33% {

      opacity: 1;
      
    }
    66% {

        opacity: 0;
      }

    100% {

        opacity: 0.7;
      }
  }

  @keyframes opacity{
    0%{
      
      opacity: 0; 
    }
  
    33% {

      opacity: 0;
    }
    66% {

        opacity: 1;
      }
      100% {

        opacity: 0.7;
      }


  }